{% load i18n %}
{% url "confirm-email" token=token as confirm_url %}
{% blocktrans trimmed with name=user.username %}
    <h4>Hello from Tidbit, {{ name }}</h4>
    <p>To activate your account, please confirm your email address below:</p>
    <a href="{{ protocol }}://{{ domain }}{{ confirm_url }}">Confirm email</a>
    <p>If you are unable to click the link, go to this link in your address bar instead:</p>
    <p>{{ protocol }}://{{ domain }}{{ confirm_url }}</p>
    <p>If you did not sign up for an account, please ignore this email.</p>
    <p>Welcome to Tidbit! Have a great day and stay awhile.</p>
{% endblocktrans %}
